DATABASE_URL=postgresql://{{ project-name | snake_case }}_user:{{ project-name | snake_case }}_pass@localhost:5432/{{ project-name | snake_case }}_db?sslmode=require
HOST=0.0.0.0
PORT={{ default_port }}
ENV=development
CORS_ORIGINS=*
